<h2>Authors</h2>
The following people contributed to the content of this lesson
<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->
<b>
    For any questions regarding this exercise, please contact 
</b>:

<ul>
    <li>Julie Hogan</li>
    <li>Wei Wei</li>
    <li>Guillermo Fidalgo</li>
    <li>Philip Chang (for Part 2)</li>
    <li>Tom McCauley (for the iSpy part)</li>
    <li>Christopher Madrid</li>
</ul>
<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
Note that this list does not include the contributors to the framework as developed by the carpentries.
